<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Экстрасенсы</title>
</head>
<body>

{% if data.status == False %}
    <form action="/" method="post">
        <label>Загадай двузначное число</label>
        <input type="hidden" name="answer" value="-100"/>
        <input type="hidden" name="control" value="0"/>
        <input type="submit" value="Загадал" />
    </form>
{% else %}
    <form action="/" method="post">
        <input type="number" name="answer" />
        <input type="hidden" name="control" value="1"/>
        <input type="submit" value="Отправить" />
    </form>
{% endif %}
</br>
Загаданные числа:
</br>
{{ data.user }}
<p>
История догадок экстрасенсов:
<table>
    {% for extrasense in data.extrasenses %}
  <tr>

      <td>{{ extrasense }}</td>

  </tr>
    {% endfor %}
</table>



</body>
</html>