<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Экстрасенсы</title>
</head>
<body>
{% if data.status == False %}
    <form action="/" method="post">
        <label>Загадай двузначное число</label>
        <input type="hidden" name="answer" value/>
        <input type="hidden" name="enter_answer" value="0"/>
        <input type="submit" value="Загадал" />
    </form>
<p>
{% else %}
    {{ error_message }}
    <form action="/" method="post">
        <input type="number" name="answer" />
        <input type="hidden" name="enter_answer" value="1"/>
        <input type="submit" value="Отправить" />
    </form>
<br>
Догадки экстрасенсов:
<br>
<table>
    <tr>
    {% for extrasense in data.extrasenses %}
      <td>{{ extrasense.answer[-1] }}</td>
    {% endfor %}
    </tr>
</table>

{% endif %}
<br>
Загаданные числа:
<br>
{{ data.user }}
<p>
История догадок экстрасенсов:
<table>
    {% for extrasense in data.extrasenses %}
  <tr>

        {% if data.status == False %}
            <td>{{ extrasense.answer }}</td>
        {% else %}
            <td>{{ extrasense.answer[:-1] }}</td>
        {% endif %}
        <td>Рейтинг:</td>
        <td>{{ extrasense.rating }}</td>
  </tr>
    {% endfor %}

</table>



</body>
</html>